@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: "Open Sans", sans-serif;
    --font-inter: "Noto Sans Georgian", sans-serif;
    --font-reader: "Open Sans", sans-serif;

    --color-background: var(--background);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-foreground: var(--foreground);
    --color-border: var(--border);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
}

:root {
    --background: #FBF8F3;
    --foreground: #241F19;

    --primary: #8A530E;
    --primary-foreground: #FFFBF2;
    --primary-hover: #9C5F12;
    
    --card: #F4EFE6;
    --card-foreground: #F4EFE8;
    
    --border: #D8CDBA;
}

.dark {
    --background: #161513;
    --foreground: #F4EFE8;

    --primary: #F2B341;
    --primary-foreground: #1B1409;
    --primary-hover: #FFC966;
    
    --card: #1E1C19;
    --card-foreground: #241F19;
    
    --border: #3A352F;
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
    html {
        @apply font-inter;
    }
}
